@import "src/assets/scss/reset.scss";

:root {
  --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --mono-font: "SF Mono", "Roboto Mono", monospace;

  font-family: var(--sans-font);
}

code,
pre {
  font-family: var(--mono-font);
}

.container {
  width: 100%;
  max-width: 60ch;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
